      <div class="d-flex row text-center justify-content-center align-items-center h-50">
        <div class="px-3">
          <h1>Toy-boxへようこそ!</h1>
          <br>
          <p class="lead">Toy-boxは好きなものを</p>
          <p class="lead">投稿したり共有するサイトです</p>
        </div>
      </div>
