@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.pagination {
  justify-content: center;
}

a:hover {
   opacity: 0.50; /* 50％ほど透明にする */
}